/* ------- latest news ----------------- */

.latest_news{
    margin: -2% 0%;
    background: #FF6347;
    color: white;
    text-align: center;
    height: 320px;
}
.latest_news h3{
    font-size: 30px;
    padding: 3% 0%;
    margin: 0;
}

.new{
    display: inline-block;
    height: auto;
    margin: 0% 1%;
    padding: 1.2% 0%;
    float: left;
    background:#F5F5F5;
    color: black;
    width: 26%;
    position: relative;
    left: 120px;
}
.new img{
    display: inline-block;
    height: auto;
    position: relative;
    left: 10px;
    float: left;
}
.new a{
    color: black ;
    opacity: 0.5;
}
.new a:hover{
    color: #FF6347;
    text-decoration: none;
}
.new a:active{
    color: #FF6347;
    text-decoration: none;
}
.new h5{
    position: relative;
    left: 40px;
    top: 23px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .1em 1em;
    outline: none;
    border-width: 1px 0;
    border-style: solid none;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    transition: 0.2s;
}
.pluso {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
    text-align: left;
    font-size: 0;
    line-height: 0;
}



/* ------- end latest news ----------------- */
@media screen and (min-width: 1300px){
    .new h5{
        position: relative;
        left: 0;
    }
    .new a{
        position: relative;
        left: 20px;
    }
}

@media screen and (max-width: 1160px) {
    .latest_news{
        height: 450px;
    }
    .new{
        width: 40%;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1064px) {
    .latest_news{
    }
    .new{
        }
}
@media screen and (min-width: 845px) and (max-width: 1075px){
    .new h5{
        left: 0;
    }
    .new a{
        position: relative;
        left: 20px;
    }
}
@media screen and (max-width: 768px) {
    .latest_news{
        height: 700px;
    }
    .latest_news h3{
        margin: 0;
        padding: 10% 0%;
    }
    .new{
        width: 55%;
        margin-left: 7%;
    }
    .new h5{
        left: 0;
    }
    .new a{
        position: relative;
        left: 20px;
    }
}
@media screen and (max-width: 650px){
    .new{
        margin-left: 4%;
    }
}
@media screen and (max-width: 560px){
    .new{
        width: 60%;
        margin-left: 0;
        left: 20%;
    }
}
@media screen and (max-width:500px ) {
    .latest_news{
        height: 600px;
    }
    .new{
        width: 70%;
        left: 15%;
    }
}
@media screen and (max-width: 320px) {
    .latest_news h3 {
        position: relative;
        margin-top: 1%;
        padding: 9% 0%;

    }
    .new{
        width: 90%;
        left:15px;
    }
}