/* ------------------ broadcasting -----------*/
.broadcasting {
    padding: 4% 0%;
    height: 890px;
    background: #F5F5F5;
    text-align: center;
}
.broadcasting h1{
    font-size: 50px;
}
.broadcasting p.p_text{
    padding: 3% 0%;
    opacity: 0.5;
    font-size: 20px;
}
.broadcasting h1:hover{
    color: red;
}
.broadcasting a{
    color: red;
    text-decoration: none;
}
.broadcasting a:hover {
    text-decoration: none;
}
.broadcasting h4 a{
    position: relative;
    width: 100%;
    color: #FF6347;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.broadcasting h3{
    float: right;
    margin: 0;
    width: 39%;
    text-align: left;
}

.btn_date{
    position: relative;
    width: 49%;
    margin-left: 10%;
    bottom: 20px;
}
.btn_date p {
    position: relative;
    float: left;
    left: 10px;
    opacity: 1;
    font-size: 14px;
}
.btn_date p.view{
    position: relative;
    float: right;
    opacity: 0.7; }
.btn_date h5{
    position: relative;
    display: inline-block;
    float: left;
    padding: .1em 1em;
    bottom: 9px;
    outline: none;
    border-width: 1px 0;
    border-style: solid none;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.description{
    width: 10%;
    float: right;

}
.one{
    position: static;
    float: right;
    width: 43%;
    height: 125px;
}
.one p{
    float: left;
    text-align: left;
    font-weight: bold;
    opacity: 1;
    font-size: 14px
}
.one p.view{
    position: relative;
    bottom: 10px;
    opacity: 0.7;
    font-weight: normal;
}

.one p.date{
    display: inline-block;
    position: relative;
    float: left;
    width: 80px;;
    padding: 0% 3%;
    outline: none;
    bottom: 16px;
    border-width: 1px 0;
    border-style: solid none;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.two{
    position: relative;
    float: right;
    margin: 3% 0%;
    width: 45%;
    height: 125px;

}
.two p{
    float: left;
    text-align: left;
    font-weight: bold;
    opacity: 1;
    font-size: 14px
}
.two p.view{
    position: relative;
    bottom: 10px;
    opacity: 0.7;
    font-weight: normal;
}

.two p.date{
    display: inline-block;
    position: relative;
    float: left;
    width: 80px;
    padding: 0% 3%;
    outline: none;
    bottom: 16px;
    border-width: 1px 0;
    border-style: solid none;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.three{
    position: relative;
    float: right;
    width: 45%;
    height: 125px;


}
.three p{
    float: left;
    text-align: left;
    font-weight: bold;
    opacity: 1;
    font-size: 14px
}
.three p.view{
    position: relative;
    bottom: 10px;
    opacity: 0.7;
    font-weight: normal;
}

.three p.date{
    display: inline-block;
    position: relative;
    float: left;
    width: 80px;
    padding: 0% 3%;
    outline: none;
    bottom: 16px;
    border-width: 1px 0;
    border-style: solid none;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.img{
    position: relative;
    width: 100%;
    height: 390px;

}
.video12 {
    position: relative;
}
.video12 iframe {
    float: left;
    margin-left: 10%;
    width: 50%;
    height: 420px;
}
.video_small{
    top: 0;
    right: 0;
    width: 316px;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
}
.video12 img {
    width:160px;
    float: left;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    opacity: .7;
}
.video12 img:hover {
    opacity: 1;
    cursor: pointer;
}
.video12 img:focus {
    opacity: .2;
}
.broadcasting button{
    display: inline-block;
    position: relative;
    float: right;
    outline: none;
    padding: .7em 2em;
    right: 8%;
    bottom: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    border-color: #FF6347;
    text-decoration: none;
}
@media screen and (max-width: 790px) {
    .broadcasting {
        height: 1200px;
    }
    .video12 iframe{
        width: 80%;
    }
    .broadcasting h3{
        width: 80%;
        margin: 0% 10%;
        margin-top: 40px;
    }
    .video_small{
        width: 316px;
        margin-left: 9%;
    }
}
@media screen and (max-width: 768px) {
    .broadcasting {
        height: 1300px;
    }
    .broadcasting button{
        margin-top: 5%;
    }

}
@media screen and (min-width: 320px)and (max-width: 435px) {
    .broadcasting h3{
        width: 95%;
        margin: 0;
        margin-top: 40px;
    }
    .video_small{
        margin-left: 0%;
    }
}