
.header{
    width: 100%; /* Ширина блока */
    height: 900px; /* Высота блока */
    background: url(../images/chorch.jpg);
}
.header span{
    padding: 1% 1%;
}
.blogs_1 ul {
    padding-left: 0; /*убираем отступы*/
    margin: 0; /*убираем отступы*/
    background:#8B3626; /*добавляем фон всему меню*/
    color: white;
    list-style: none; /*убираем маркеры списка*/

}
.blogs_1 h4{
    float: left;
    padding: 0% 3%;
    margin: 1.2% 0%;


}

.blogs_1 a {
    display: block;
    padding:0px 15px; /*добавляем отступ*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    line-height:50px; /*ровняем меню по вертикали*/
    background:#8B3626;/*добавляем фон к пункту меню*/
    color: white; /*меняем цвет ссылок*/
    font-family: arial; /*меняем шрифт*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

}
.blogs_1 a:hover {
    background:#FF6347;/*добавляем эффект при наведении*/

}
.blogs_1 li {
    float: right; /*Размещаем список горизонтально для реализации меню*/
}
.blogs_1 button {
    display: inline-block;
    padding: .1em 1em;
    margin: 8% -3%;
    outline: none;
    border-style: solid none;
    border-color: #8B3626 #000 #8B3626  ;
    border-radius: 15px;
    background: linear-gradient(#8B3626, #8B3626) #8B3626;
    color: white;
    text-decoration: none;
}
.blogs_1 button:active { background: linear-gradient(#FF6347, #FF6347) #FF6347; }

.blogs_2 ul {
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    height: 35px; /*задаем высоту*/
    background:#9FB6CD; /*добавляем фон всему меню*/
    list-style: none; /*убираем маркеры списка*/
}

.blogs_2 a {
    display: block;
    padding:0px 15px; /*добавляем отступ*/
    line-height:35px; /*ровняем меню по вертикали*/
    background:#9FB6CD;/*добавляем фон к пункту меню*/
    color: black; /*меняем цвет ссылок*/
    font-family: arial; /*меняем шрифт*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    border-right: 1px solid #9FB6CD; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

}

.blogs_2 li {
    height: 35px;
    float: right; /*Размещаем список горизонтально для реализации меню*/
}
.blogs_2 a{

    height: 35px;
}
.blogs_2 a:active { background: #FF6347 }

.blogs_2 button{
    display: inline-block;
    padding: .1em 2em;
    margin: 2.5% 0%;
    outline: none;
    border-width: 1px 0;
    border-style: solid none;
    border-color: #9FB6CD #000 #8B3626;
    border-radius: 15px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.blogs_2 button:hover { background: linear-gradient(#FF6347, #FF6347) #FF4500; }
.blogs_2 button:active { background: linear-gradient(#8B3626, #8B3626) #8B3626; }

.box1{
    padding: 10% 0%;
}
.name{
    color: white;
    font-size: 50px;
    text-align: center;

}

.text{
    margin: 2% 0%;
    color: white;
    text-align: center;
    font-size: 20px;
}
.text span{
    float: left;
    width: 10%;
    font-size: 60px;
}
.text span#right{
    float: right;
}
.meeting_schedule{
    width: 50%;
    margin: 0% 25%;
    border-style: solid;
    border-width: 3px;
    background: black;
    color: white;
    font-family: Andale Mono;
    text-align: center;
    letter-spacing: 3px;
    opacity: 0.8;
}
.meeting_schedule h1{
    font-family: Arnoldboecklin;
}
.box1 button{
    position: relative;
    display: inline-block;
    padding: .4em 2em;
    margin-left: 43%;
    margin-top: 10%;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #9FB6CD #000 #8B3626;
    border-radius: 25px;
    background: linear-gradient(#FF6347, #FF6347) #FF6347;
    color: white;
    text-align: center;
    text-decoration: none;
}
.box1 button:hover { background: linear-gradient(#FF6347, #FF6347) #FF4500; }
.box1 button:active { background: linear-gradient(#8B3626, #8B3626) #8B3626; }



/*------  max-width:1016px   ------*/
@media screen and (max-width:1016px){
    .nav{
        display: none;
    }
    .nav li{
        float: none;
        width: 100%;
        height: auto;
    }
    .nav li a {

        border-left: 3px solid transparent;
        background: #FF6347;
        color: white;
    }
    .nav li a:hover {
        background: #FF6347;
        color: #444;
        border-left: 3px solid #8B3626;
    }

    .touch-menu {display: block;}

    .blogs_1 ul{
        height: auto;

    }
    .blogs_1 li{
        display: inline-block;
        float: left;
        width: 100%;
        height: auto;
    }
    .blogs_1 li a{
        float: inherit;
        width: 100%;
        height: auto;
    }
    .blogs_1 li button{
        margin: 4px;
    }
    .blogs_1 h4{
        width: 100%;
        padding: 2% 0%;
        text-align: center;
        background: #8B3626;
    }
    .blogs_2 li{
        display: inline-block;
        float: left;
        width: 100%;
        height: 0;
    }
    .blogs_2 ul{
        float: none;
        height: 105px;
    }
    .blogs_2 li a{
        float: none;
    }
    .blogs_2 button{
        margin: 1% 0%;
    }

    .name h1{
        font-size: 35px;
    }
    .text p{
        font-size: 18px;
    }
    .meeting_schedule{
        height: auto;
    }
    .meeting_schedule h2{
        font-size: 22px
    }
    .meeting_schedule h3{
        font-size: 20px;
    }


}
@media screen and  (max-width: 768px) {
    .nav {
        display: none;
    }

    .nav li {
        float: none;
        width: 100%;
        height: auto;
    }

    .nav li a {

        border-left: 3px solid transparent;
        background: #FF6347;
        color: white;
    }

    .nav li a:hover {
        background: #FF6347;
        color: #444;
        border-left: 3px solid #8B3626;
    }

    .touch-menu {
        display: block;
    }

    .blogs_1 ul {
        height: auto;
    }

    .blogs_1 li {
        display: inline-block;
        float: left;
        width: 100%;
        height: auto;
    }

    .blogs_1 li button {
        margin: 1% 1%;
    }

    .blogs_1 h4 {
        width: 100%;
        padding: 2% 0%;
        margin: 0;
        background: #8B3626;
        text-align: center;
    }

    .blogs_2 li {
        display: inline-block;
        float: left;
        width: 100%;
        height: auto;
    }

    .blogs_2 li a {
        float: none;
    }
    .blogs_2 ul {
        height: auto;
    }
    .blogs_2 button{
        margin: 1% 0%;
    }
    .box1 button{
        margin-left: 40%;
    }
    .name h1 {
        font-size: 27px;
    }

    .header span.glyphicon-triangle-left {
        font-size: 40px;
    }

    .header span#right {
        font-size: 40px;
    }

    .meeting_schedule {
        width: 70%;
        margin: 0% 16%;
    }
    .meeting_schedule h3{
        font-size: 18px;
    }
    .btn_down button {
        margin: 0;
    }
}



@media screen and (max-width: 500px ) {
    .box1 button{
        margin-left: 35%;
    }
}
@media screen and (max-width: 320px ) {
    .meeting_schedule h2{
        font-size: 15px;
    }
    .meeting_schedule h3{
        font-size: 15px;
    }
    .box1 button{
        margin-left: 22%;
    }
}